body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color:#505962;
    margin-top: 70px;
}

.offset:before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}
#info{
    padding: 6rem;
}


.navbar{
    font-weight: 700;
    text-transform: uppercase;
    height: 70px;
    font-size: .9rem;
    letter-spacing: .1rem;
    background:rgba(247, 222, 222, 0.9)!important;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    padding-top: .8rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(46, 45, 45);
}

.navbar-brand img{
    height: 3rem;
}
.navbar-nav li{
    padding-right: .7rem;
}

.link2{
    color: rgb(247, 222, 222);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 20px;
}
.nav-link:hover{
    color: rgb(54, 48, 48);
}
.link2:hover{
    color: rgb(54, 48, 48);
}

.button1{
    background-color:  rgb(247, 222, 222);
    color:white;
    padding: 5px 12px;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
.button1:hover{
    background-color:  rgb(240, 197, 197);
}

.carousel-inner{
    width: 100%;
    height:100%;
}
.carousel-inner>div>img{
    object-fit: cover;
    max-height: 100vh;
    max-width: 100vh;
    width: auto;
    height: auto;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 200%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px rgba(46, 45, 45, 0.89);
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px rgb(46, 45, 45);
    padding-bottom: 1rem;
}

.carousel-indicators {
    color:rgb(240, 197, 197);

}
.carousel-indicators .active{
    background-color: rgb(136, 131, 131);
}
.carousel-indicators li{
    background-color: rgb(168, 167, 167);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(50%);
}

.narrow{
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.narrow h1{
    font-size: 2.4rem;
}

.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
    padding: 4rem;
}
#meist{
    padding: 4rem;
}

#contact{
    
}

h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}
.heading-underline{
    width: 10rem;
    height: .2rem;
    background-color: rgb(240, 197, 197);
    margin: 0 auto 2rem;
    margin-top: 1rem;
}
.feature{
    color: rgb(240, 197, 197);
    margin-bottom: 2rem;
    font-size: 10px;
}


.fixed-backround{
    background-image: url(../images/background2.jpg);
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 400px;
    background-size: cover;
    padding: 7rem 1rem;
}

.clients-hr{
    border-top: 0.1rem solid rgb(240, 197, 197);;
}
/* #clients{
    margin-bottom: 0;
    padding: 4rem 0 4rem;
    border-radius: 0;
} */

/* .fixed-background p{
    margin-top: 2rem;
} */

#footer-logo{
    width: 15rem;
    padding: 1rem;
}
footer{
    background-color:  rgb(247, 222, 222)!important;
    padding: 4rem;
}

.feature1{
    color: rgb(133, 127, 127);
    margin: 1.2rem .5rem 0 0;
    
}
.feature1:hover{
    color: white;
}



