
body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color:#505962;
    margin-top: 70px;
}

.navbar{
    font-weight: 700;
    text-transform: uppercase;
    height: 70px;
    font-size: .9rem;
    letter-spacing: .1rem;
    background:rgba(247, 222, 222, 0.9)!important;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    padding-top: .8rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(0,0,0);
}

.navbar-brand img{
    height: 3rem;
}
.navbar-nav li{
    padding-right: .7rem;
}

.link{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.link:hover{
    color: rgb(54, 48, 48);
}

.link2{
    color: #949191;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .05rem;
}

.link2:hover{
    color: rgb(54, 48, 48);
}
.button1{
    background-color:  rgb(255, 117, 117);
    color:white;
    padding: 5px 12px;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;

}
.button2{
    background-color:  rgb(232, 195, 195);
    color:white;
    padding: 5px 12px;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;

}
.button3{
    background-color:  rgb(232, 195, 195);
    color:white;
    padding: 5px 12px;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;

}


.media>img{
    object-fit: cover;
    max-height: 200px;
    max-width: 200px;
    width: auto;
    height: auto;
}


.carousel-inner>div>img{
    object-fit: cover;
    max-height: 300px;
    max-width: 300px;
    width: auto;
    height: auto;
}
.modal-dialog.modal-800 {
    margin: 30px auto;
    max-width: 800px;
}

#kontakt{
    margin-bottom: 2rem
}

.exPicture{
    height: 9rem;
}
/* lapse info */
#childPic{
    width: 13rem !important;
    padding: .1rem;
    margin: 0.2rem;
}
.media2{
    border: 1px gray solid;
    padding : 10px !important;
    margin: 12px;
}
.name{
    font-size: 30px;
    color: rgb(136, 131, 131);
    text-align: center;
    margin-top: 30px;
}
.heading-underline{
        width: 15rem;
        height: .2rem;
        background-color: rgb(240, 197, 197);
        margin: 0 auto 2rem;
        margin-top: 1rem;
    }

#picturesDescriptionModal > div > modal-content{
    width: 800px;
    padding: 50px;
}

.btn{
    width: 150px;
}
.btn-group{
    margin: 20px;
}
#lisaLaps{
    margin: 20px;
}

.heading1{
    font-size: 30px;
    color: rgb(136, 131, 131);
    margin-top: 30px;
}
.fa{
    color: rgb(240, 197, 197);
}
.container2{
    background-color: rgb(255, 250, 250);
}

#page1 {display:none}
#page1:target {display:block}
#page2 {display:none}
#page2:target {display:block}
#page3 {display:none}
#page3:target {display:block}
#page4 {display:none}
#page4:target {display:block}

#skillContainer{
    background: rgb(247, 222, 222); 
    border : 0.5px solid #888888;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 1px 0.5px 1px #c4c2c2;
    padding: 20px;
    padding-bottom: 40px;  
}

.exPilt{
 text-align: center;
 padding: 20px;
}

.exDescription{
    padding:20px;
}
.heading2{
    font-size: 15px;
    color: rgb(136, 131, 131);
    margin-top: 30px;
}
.heading3{
    font-size: 30px;
    color: rgb(136, 131, 131);
}